certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
docutils==0.20.1
fonttools==4.49.0
idna==3.6
importlib-metadata==7.0.1
jaraco.classes==3.3.1
jeepney==0.8.0
keyring==24.3.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplot==0.1.9
matplotlib==3.8.3
mdurl==0.1.2
more-itertools==10.2.0
nh3==0.2.15
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pillow==10.2.0
pkginfo==1.9.6
pycparser==2.21
Pygments==2.17.2
pyloco==0.0.139
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.0
SecretStorage==3.3.3
SimpleWebSocketServer==0.1.2
six==1.16.0
twine==5.0.0
typing==3.7.4.3
tzdata==2024.1
urllib3==2.2.1
ushlex==0.99.1
websocket-client==1.7.0
zipp==3.17.0
